.vscode/settings.json
options/0.json
options/1.json
options/2.json
options/3.json
is-basic.sh
is-cameras.sh
is-frame-transformation.sh
is-skeletons-detector.sh
is-skeletons-grouper.sh
options/optionstest.json
guia-markdown.pdf
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/espaco_inteligente_ifes-deivid.iml
ei_ifes
env
