.vscode/
options/0.json
options/1.json
options/2.json
options/3.json

options/optionstest.json
.idea/
# Nomes de venvs usados
env/
ei_ifes/
venv/

dataset-creator/__pycache__/
dataset-creator/videos/*.avi
#dataset-creator/videos/*.mp4
dataset-creator/record_screen.avi
dataset-creator/*.pyc
dataset-creator/videos/*/*.jpeg
